@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  font-family:
    "Poppins" -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  scroll-behavior: smooth;
}

.css-1f43avz-a11yText-A11yText {
  width: 0px !important;
  display: none !important;
}

input:focus {
  outline: none !important;
  box-shadow: none !important;
}